body{


}

h1{
  color: darkred;
  text-shadow:5px 5px 10px black;
  padding: 9px;
  margin: auto;
  width: 50%;
}

  h3{
    color :black;
    text-shadow:5px 5px 10px grey;
    padding: 10px;
    margin: auto;
    width: 50%;  
}
p{
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}
#userButton {
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

button{
 background-color: rgb(33, 3, 3);

}

